<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LobsterApiSuite">
<listeners>
        <listener class-name="LobsterApi.Listeners.ExtentReporterNG"/>
</listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="LobsterApiTest.SearchCourceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
